/* 
    Written By: Nicole Brandenburg, Gene Holt, Oakley Cardwell
*/

@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1.5rem "Gilda Display", serif;
    min-height: 100vh;
    background-color: #b9ced1;
    background-image: radial-gradient(#e3ddd1, #015578);
    color: #015578;
    display: flex;
    flex-direction: column;
}

.mainheader{
    text-align: right;
}

.mainheader .login{
    float: right;
    background-color: grey;
    margin-right: 75px;
    padding: 5px;
}

.description{
    background-color: rgba(128,128,128, .5);
    color: black;
    height: 200px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-items: center;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    margin: 0;
}

nav {   
    font-family: "Montserrat", "sans-serif";
    background-color: #015578;
    font-weight: bold;
    padding: 5px;
    font-size: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    text-decoration: none;    
}

nav a {	
    color: #e3ddd1;    
}

button a {
    color: #e3ddd1;  
}

header, footer {
    background-color: #b9ced1;
}

header {
    top: 0;
    display: flex;
}

header h1 {
    font-size: 3em;
    text-shadow: 2px 2px #7a7b7a;
}

header h2 {
    font-family: "Montserrat", "sans-serif";
    font-size: 0.50em;
    min-width: 25%;
    text-align: left;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

main {
    flex-grow: 1;
}

footer {
    bottom:0;
}

button {
    font-family: "Montserrat", "sans-serif";
    font-size: .75em;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    background-color: #0056b3;
    color: #f8f6ef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #007BFF;
}

table {
    width: 90%;
    margin: 10px auto;
}

table, td, th {
    border: 1px solid #0056b3;
    font-size: .85em;
}

td, th {
    padding: 3px;
    text-align: center;
    vertical-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    padding: 10px;
    box-shadow: 5px 10px 8px #7a7b7a;
}

.spgmsheader {
    margin-top: 1rem;
    padding-left: 20px;
}

.login-container {
    background-color: #f8f6ef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#createuserform p{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}

p label{
    margin-bottom: .25px;
}

.form-container {
    background-color: #f8f6ef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 50vw;
    margin-top: 20px;
    display: block;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container h6{
    text-align: center;
    background-color: #015578;
    color: white;
}

.panel-container {
    background-color: #f8f6ef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:100%;
    min-width: 50vw;
    margin-top: 20px;
}

.panel-container div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.panel-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding: 20px;
}

.panel-container input[type="text"] {
    width: 55px;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.panel-container input[type="number"] {
    width: 65px;
    height: 1.25em;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.panel-container p {
    padding: 10px;    
    position: left;
    margin: 10px; 
}

.panel-container button {
    color: #f8f6ef;
}

.reservation-container {
    background-color: #f8f6ef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    margin-top: 20px;
}

.reservation-container p {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;    
}

.currency-wrap {
    position: relative;
}

.currency-code {
    position: absolute;
}

.currency-wrap input[type="text"] {
    width: 55px;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#parkingHistoryContainer {
    display: grid;
}

#register{
    padding: 10px;
}

/* SMALL */
@media screen and (min-width: 576px) {


}

/* MEDIUM */
@media screen and (min-width: 768px) {
    header h1 {
        font-size: 4em;
    }

    header h2 {
        font-size: .65em;
    }
}

/* LARGE */
@media screen and (min-width: 992px) {
    header h1 {
        font-size: 5em;
    }

    header h2 {
        font-size: .75em;
    }
}

/* MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1, h2 {
        font-size: 1.5rem;
    }
}
