<!--
    Written By: Nicole Brandenburg
    Reviewed By: Gene Holt, Oakley Cardwell
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Portal</title>
    <link rel="stylesheet" href="../styles.css" />
    <script src="../paymentHandling.js"></script>
</head>
<body>
<header class="spgmsheader">
    <div>
        <h1>SPGMS</h1>
    </div>
    <div>
        <h2>Smart<br> Parking<br> Garage<br> Management<br> System</h2>
    </div>    
</header>
<nav>
    <a href="/homepage">Home</a>
    <a href="/reservation">Make a Reservation</a>
    <a href="/createuser">Create an Account</a>
    <a href="/userlogin">Login</a>
</nav>
<main>
    <div class="form-container">
        <form action="/payment-success">
        <h2>Payment Portal</h2>
            <fieldset>
                <legend>Current Transaction</legend>
                <p class="currency-wrap">
                    <label for="amount">Amount:</label>
                    <span class="currency-code">$</span>
                    <input type="text" id="amount" name="amount"/>
                </p>                
            </fieldset>
            <br>           
            <fieldset>
                <legend>Credit Card Holder Information</legend>
                <p>
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name = "firstname">
                </p>
                <p>
                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name = "lastname">
                </p>
                <p>
                    <label for="street">Address:</label>
                    <input type="text" id="street" name = "street">
                </p>
                <p>
                    <label for="city">City:</label>
                    <input type="text" id="city" name = "city">
                </p>
                <p>
                    <label for="state">State:</label>
                    <input type="text" id="state" name = "state">
                </p>
                <p>
                    <label for="zip">Zip:</label>
                    <input type="text" id="zip" name = "zip">
                </p>
                <p>
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name = "phone">
                </p>
            </fieldset>
            <br>
            <fieldset>
                <legend>Credit Card Information</legend>
                <p>
                    <label for="cardnumber">Card Number:</label>
                    <input type="text" id="cardnumber" name = "cardnumber">
                </p>
                <p>
                    <label for="cardexp">Expiration Date:</label>
                    <input type="text" id="cardexp" name = "cardexp">
                </p>
                <p>
                    <label for="code">Code:</label>
                    <input type="text" id="code" name = "code">
                </p>
            </fieldset>
                <br>
            <button type="submit">Submit</button>
        </form>

    </div>
</main>
<footer></footer>
</body>
</html>
