<!--
    Written By: Nicole Brandenburg
    Reviewed By: Gene Holt, Oakley Cardwell
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Failed</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
<header class="spgmsheader">
    <div>
        <h1>SPGMS</h1>
    </div>
    <div>
        <h2>Smart<br> Parking<br> Garage<br> Management<br> System</h2>
    </div>    
</header>
<nav>
    <a href="/homepage">Home</a>
    <a href="/reservation">Make a Reservation</a>
    <a href="/createuser">Create an Account</a>
    <a href="/userlogin">Login</a>
</nav>
<main>
    <div class="form-container">
        <h2>Reservation was not successful.</h2>
        <h2>There are no available spaces.</h2>
    </div>
</main>
<footer></footer>
</body>
</html>
