<!--
    Written By: Nicole Brandenburg, Gene Holt, Oakley Cardwell
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel</title>
    <link rel="stylesheet" href="../styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../parkingHistory.js"></script>
</head>
<body>
    <header class="spgmsheader">
        <div>
            <h1>SPGMS</h1>
        </div>
        <div>
            <h2>Smart<br> Parking<br> Garage<br> Management<br> System</h2>
        </div>    
    </header>
    <nav>
        <a href="/homepage">Home</a>
        <a href="/reservation">Make a Reservation</a>
        <a href="/createuser">Create an Account</a>
        <a href="/userlogin">Login</a>
    </nav>
    <main>
        <div class="panel-container">
            <h2>User Panel</h2>
            <div>
                <button>
                    <a href="/reservation">Make a Reservation</a>
                </button>
            </div>
            <fieldset>
                <legend>Parking History</legend>
                <div id="parkingHistoryContainer">
                    <!-- Parking history will be displayed here -->
                </div>
            </fieldset>
        </div>
    </main>
</body>
</html>